# Ignorar diretórios de build do Maven/Java
target/
*.class
*.war
# Se você tiver arquivos JAR ou outros artefatos de build:
*.jar

# Para projetos Maven, é comum ignorar também a pasta .settings se for um projeto Eclipse
# .settings/

# E arquivos de metadados do NetBeans, se você usar NetBeans
# nbproject/private/
# *.orig
# *.bak
# *.swp
# *~
